<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>  
    <link rel="stylesheet" href="/Stylesheets/headfoot.css">
    <title>Document</title>
</head>
<body>
    <div class="content6">
        <div id="footerA">
            <div class="column"><p>How can we help?</p><span>Contact us anytime</span></div>
            <div class="column"><p>Call us</p><a href="tel:+1 (650) 555-0111">+1 (650) 555-0111</a></div>
            <div class="column"><p>Send us a message</p><a href="mailTo:ppsonawane614@gmail.com">ppsonawane614@gmail.com</a><br>
                <!-- <a href="https://sandhyabudhavale.netlify.app">https://sandhyabudhavale.netlify.app</a> -->
            </div>
        </div><hr>
        <div id="footerB">
            <div class="column"><img src="/All_Images/NutriWiselogo.ico" alt=""></div>
            <div id="colll" class="column">
                <a href="/">Home  </a>
                <a href="/aboutus"> . About Us  </a>
                <a href="#privacypolicy"> . Privacy Policy</a>
            </div>
        </div>
        <!-- <div id="footerC">
            <div class="column">Copyright © Company name</div>
            <div class="column"><a href="">Home</a><a href="">About Us</a><a href="">Privacy Policy</a></div>
        </div> -->
    </div>
</body>
</html>