<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>  
    <link rel="stylesheet" href="/Stylesheets/headfoot.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <div id="nav1" class="navbar"><a href="/"><img src="/All_Images/Nutriwise logo.webp" alt=""></a></div>
        <div id="nav2" class="navbar">
            <a href="/">Home</a>
            <a href="/scan">Scan</a>
            <a href="/features">Features</a>
            <a href="/blog">Blog</a>
            <a href="/aboutus">About Us</a>
            <a class="cont" href="/contactus">Contact Us</a>
        </div>
        <div id="nav3" class="navbar">
            <a class="search" href="/search"><i class='bx bx-search' style='color:rgba(0,0,0,0.51)' ></i></a>
            <a class="call" href="tel:+1 (650) 555-0111"><i class='bx bxs-phone' style='color:rgba(5,5,5,0.6)'  ></i><p> +1 (650) 555-0111</p></a>
        </div>
        <div id="nav4">
            <a href="/signup"><button class="signin">Sign Up</button></a>
            <a href="/contactus"><button class="getinvolved">Contact Us</button></a>
        </div>
    </nav>  
</body>
</html>