<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Stylesheets/aboutus.css">
    <title>About Us</title>
   
</head>
<body>
    <% include ./partials/header.ejs %>
    <h1>About Us</h1>
    <div class="content1">
        <div id="sub1">
            <p id="p1">ABOUT US</p>
            <p id="p2">Empowering Healthier Choices with Smart Nutrition Technology</p>
            <p id="p3">By scanning ingredients, users gain instant access to detailed nutritional information. Personalized recommendations cater to individual goals and preferences, while emphasis on meal timing enhances overall effectiveness. With its intuitive interface and commitment to privacy, Nutri Wise is the go-to tool for achieving balanced nutrition and well-being.  </p>
            <a href=""><button id="p4">Learn More</button></a>
        </div>
        <div id="sub2">
            <img src="/All_Images/Firefly a lady scanning a food i.jpg" alt="">
        </div>
    </div>
    <div class="content2">
        <div id="sub1">
            <p id="p2">Features</p>
            <p id="p3">
                1.Effortless Nutrition Tracking <br>
                2.Personalized Recommendations <br>
                3.Meal Timing Optimization <br>
                4.Suggest the age group which can consume<br>
                5.Will Keep you always full of knowledge </p>
            <a href=""><button id="p4">Learn More</button></a>
        </div>
        <div id="sub2">
            <img style="border-radius: 0px 0px;" src="/All_Images/carousel imglady.webp" alt="">
        </div>
    </div>
    <div class="content3">
        <h4>"Fuel Your Life, Nourish Your Body: Nutri Wise Guides the Way!"</h4>
        <p>Eat Heathy and Stay Healthy .</p>
        <a href="/contactus">Contact Us</a>
    </div>
    <% include ./partials/footer.ejs %>
</body>
</html>