<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Stylesheets/blog.css">
    <title>Blog</title>
</head>
<body>
    <% include ./partials/header.ejs %>
    <div class="content1">
        <h1>Our blog</h1>
        <p class="p2">We are a team of passionate people whose goal is to improve everyone's life.</p></div>
    </div>
    <div class="content2">
    <div><p class="p1">Our blog</p></div>
    <p class="p2">No blog post yet.</p>
    </div>
    <div class="content5">
        <h4>Help us protect and preserve for future generations</h4>
        <p>Join us and make the planet a better place.</p>
        <a href="/contactus"><button>Contact Us</button></a>
    </div>
    <% include ./partials/footer.ejs %>
</body>
</html>