<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/Stylesheets/Style.css"> -->
    <link rel="stylesheet" href="/Stylesheets/features.css">
    <title>Features</title>
</head>
<body>
    <% include ./partials/header.ejs %>
    <h1>Features</h1>
    <div class="holebody">
    <div class="content4">
        <div id="col1" class="col">
            <div ><img class="division1" src="/All_Images/meal manage.jpeg" alt=""></div>
            <div class="division2"><p class="p1">Meal Management</p><p class="p2">Consider integrating meal timing recommendations as  Certain foods might be better consumed at specific times of the day. </p></div>
            <div class="readmore"><button><a href="">Read More</a></button></div>
        </div>
        <div id="col2" class="col">
            <div><img class="division1" src="/All_Images/Ingredients.jpg" alt=""></div>
            <div class="division2"><p class="p1">Ingredient Analysis</p><p class="p2">Utilize a database of nutritional information to analyze the ingredients in the packed food.  </p></div>
                <div class="readmore"><button><a href="">Read More</a></button></div>
        </div>
        <div id="col3" class="col">
            <div ><img class="division1" src="/All_Images/Health Rate.jpg" alt=""></div>
            <div class="division2"><p class="p1">Health Ratings</p><p class="p2">Develop an algorithm to assess the overall healthiness of the food based on its ingredients and nutritional content.  </p></div>
            <div class="readmore"><button><a href="">Read More</a></button></div>
        </div>
    </div>
    </div>
    <div class="content3">
        
    </div>
    <% include ./partials/footer.ejs %>
</body>
</html>